<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Registration"
        tools:targetApi="31">
        <activity
            android:name="we.nstu.registration.Event.EventFull"
            android:exported="false" />
        <activity
            android:name="we.nstu.registration.Settings.Settings"
            android:exported="false" />
        <activity
            android:name="we.nstu.registration.Profile.ProfileFragment"
            android:exported="false" />
        <activity
            android:name="we.nstu.registration.Lesson.ScheduleFragment"
            android:exported="false" />
        <activity
            android:name="we.nstu.registration.Message.MessageFragment"
            android:exported="false" />
        <activity
            android:name="we.nstu.registration.Event.EventsFragment"
            android:exported="false" />
        <activity
            android:name="we.nstu.registration.News.NewsFragment"
            android:exported="false" />
        <activity
            android:name="we.nstu.registration.Registration.Registration"
            android:exported="false" />
        <activity
            android:name="we.nstu.registration.MainActivity"
            android:exported="false" />
        <activity
            android:name="we.nstu.registration.News.NewsFull"
            android:exported="false" />
        <activity
            android:name="we.nstu.registration.Login.Login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>